h1{
    background-color: rgb(231, 181, 181);
    padding: 25px;
    text-align: center;
    ;
}

.headingStyle {
    color: rgb(3, 71, 92);
    font-family: cursive;
    text-align: center; 
}

img{
    width: 200px;
    height: auto;
    border-radius: 20%;
    border: 2px solid rgb(11, 62, 110);
    margin: 40px;
    margin-left: 120px;
}

.summary{

    width: 200px;
    height: auto;

    padding: 25px;
    margin: 40px;

    /* border: 2px solid rgb(11, 62, 110);
    border-radius: 10px; 
    background-color: rgb(219, 188, 188); */

    font-family: cursive;
    font-size: 18px;
    word-spacing: 2px;
}

hr {
    border-width: 2px;
    margin: 2px;
    padding: 2px;
}

.lists {

    width: 250px;
    height:auto;
    border: 2px solid rgb(11, 62, 110);
    border-radius: 10px;

    margin: 20px;
    padding: 15px;
    background-color:rgb(219, 188, 188);

    font-family: cursive;
    font-size: 15px;

 
}

/*flexbox attempt #2*/
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 144, 144); 
}
.row1, .row3 {
    border: 1px solid lightgray;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.row1{
    justify-content: stretch;
}

.pic{
    
}

.summary{
    flex: 2 300px;
}

.row2{
    display: flex;
    flex-flow: row row-reverse;
    align-items: flex-end;
    justify-content: center;
    flex: 2;
}



.row3{
    justify-content: space-between;
    background-color:rgb(231, 181, 181);
    padding: 15px;

    font-family: cursive;

}